@media (orientation: portrait) {
    #bgimg {
        display: none;
    } #product {
        display: none;
    } #mobileWarning {
        font-size: 72px;
        margin: 16px;
        display: block;
    }
} @media (orientation: landscape) {
    #product {
        display: inline-block;
        background-color: var(--white);
        height: auto;
        min-height: 110%;
        min-width: 100%;
        margin-top: 128px;
    } #mobileWarning {
        display: none;
    }
}

/* h1 font? dropdown connect wallet? */

html {
    --color1: #422c30;
    --color2: #984a32;
    --white: #f2ca96;
    --black: #211a16;
    --darkBlack: #02040f;
    --font1: 'Times New Roman'; 
    --font2: Times;
    --font3: 'Lucida Sans Regular';
    background-color: var(--white);
    cursor: default;
    user-select: none;
} body {
    font-family: var(--font1); 
    margin: 0;
    padding: 0;
} br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
} h1 {
    color: var(--black);
    font-family: var(--font2);
    font-size: 48px;
    font-weight: 500;
    margin-bottom: -4px;
    padding-top: 128px;
}

::-webkit-scrollbar {
    width: 0px;
} ::placeholder {
    color: var(--white);
    text-align: center;
} ::-ms-input-placeholder {
    color: var(--white);
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

a {
    color: transparent;
} a:hover {
    color: var(--white);
} a p {
    color: var(--white);
} p {
    margin-bottom: 16px;
}

[type="button"] {
    display: inline-block;
    background-color: var(--color1);
    border: none;
    border-radius: 5px;
    color: var(--white);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    margin-top: 8px;
    cursor: pointer;
    overflow: hidden;
} [type="button"]:hover {
    background: var(--color2);
} input {
    position: relative;
    color: var(--white);
    width: 100%;
    height: 32px;
    margin: 0px;
    border: none;
    background-color: var(--color1);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 8px;
    border-radius: 5px;
    user-select: text;
} input:focus {
    outline: none;
}

.exitButton {
    background-color: var(--color1);
    color: var(--white);
    font-size: 14px; 
    height: 24px;
    width: 24px; 
    padding: 0px; 
    margin: 0px; 
    margin-top: -14px; 
    margin-bottom: -24px; 
    margin-left: 101%; 
    border-radius: 6px;
    border: none;
    cursor: pointer;
} .exitButton:hover {
    background-color: var(--color2);
}

/* fix visual? */
.video {
    display: initial;
    /* width: 288px;
    height: 128px; */
    width: 320px;
    height: 140px;
    margin: 48px;
    border-radius: 8px;
    border: none;
} #bgimg {
    position: fixed;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    transform: translateY(-18%);
}

.zone {
    text-align: center;
}

.navbarWrapper {
    position: fixed;
    display: inline-block;
    top: 0;
    background-color: inherit;
    width: 100%;
} .navbar {
    padding: 16px;
} .navbar [type="main"] {
    display: inline-block;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 24px;
    font-weight: 100;
    font-family: var(--font2);
    cursor: pointer;
} .navbar [type="main"]:hover {
    background-color: var(--white);
    color: var(--black);
} .navbar [name="linkHome"]:hover {
    background-color: inherit;
} .navbarMini {
    position: fixed;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    margin: 0px;
    padding: 24px;
} #musicToggle {
    position: fixed;
    height: 24px;
    width: 24px;
    right: 16px;
    margin: 16px;
    margin-top: -12px;
    margin-left: 28px;
    margin-right: 0px;
    border-radius: 4px;
    cursor: pointer;
} .navbarMini #musicSearch {
    position: fixed;
    background-color: var(--color1);
    width: 128px;
    right: 64px;
    margin: 0px;
    margin-top: -16px;
    border-radius: 4px;
} .navbarMini [name="musicCategory"] {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    color: var(--color1);
    margin: 8px;
} .navbarMini [name="musicChoice"] {
    display: block;
    width: 128px;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dropdownContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
} .dropdownContainer:hover .dropdownForm {
    display: block;
} .dropdownToggle {
    position: relative;
    margin: 0;
    padding: 14px 28px;
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    font-family: var(--font2);
} .dropdownToggle:hover {
    background-color: var(--white);
    color: var(--black);
} .dropdownForm {
    display: none;
    position: absolute;
    background-color: var(--color1);
    color: var(--white);
    min-width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font2);
    z-index: 1;
} .dropdownForm:hover .dropdownForm {
    display: block;
} .dropdownForm div {
    padding: 14px 16px;
} .dropdownForm div:hover {
    background-color: var(--white);
    color: var(--black);
}

#introContainer {
    text-align: left;
    margin: 64px;
} #introTitleContainer {
    font-size: 32px;
    font-weight: bold;
} #introHeadingContainer {
    font-size: 48px;
    font-weight: bold;
    width: 60%;
} #introHeadingContainer p {
    margin: 0px;
} #introSubtitleContainer {
    font-size: 16px;
    width: 60%;
}

.divBreak {
    background-color: var(--color1);
    border: none;
    padding: 20px;
} .divBreak p {
    display: inline-block;
    color: var(--white);
    font-size: 20px;
    margin: 0;
    margin-right: 10%;
}

.boxContainer {
    display: inline-block;
    position: relative;
    background-color: var(--darkBlack);
    color: var(--white);
    width: 288px;
    padding: 16px;
    margin: 16px;
    margin-top: 0px;
    margin-bottom: 32px;
    border-radius: 12px;
    text-align: center;
    vertical-align: top;
} .boxContainer .homeTitle {
    font-family: var(--font3);
    font-weight: lighter;
    margin-top: 16px;
    margin-bottom: 24px;
} .boxContainer p {
    margin: 0;
}

.homeContainer {
    background-color: var(--black);
    color: var(--white);
    border-radius: 12px;
    margin: 16px;
    width: 324px;
    height: fit-content;
} .homeContainerToggle {
    font-size: 14px;
    margin: 16px;
    padding: 8px;
    padding-top: 8px;
    cursor: pointer;
} .homeWrap {
    display: none;
    background-color: var(--black);
    color: var(--white);
    margin-top: -16px;
} .homeWrap2 {
    background-color: var(--color1);
    color: inherit;
    border-radius: 6px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 16px;
    padding-top: 8px;
    width: 256px;
} .homeWrap2:hover {
    background: var(--color2);
    cursor: pointer;
} .homeWrap [name='homeWrapToggle'] {
    display: none;
} .homeWrap [name='homeWrapToggle'] a {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: -4px;
} .homeWrap [name='homeWrapToggle'] p {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: -4px;
} .homeTitle {
    font-weight: 500;
    font-family: var(--font2);
    font-size: 28px;
    margin: 8px;
} .homeDescriptor {
    color: var(--white);
} .homeWrap2 p {
    margin: 0;
    margin-bottom: -8px;
}

.optionMenuContainer {
    position: sticky;
    height: max-content;
    width: 380px;
    background-color: var(--darkBlack);
    margin: 32px;
    padding: 8px;
    border-radius: 12px;
} .optionMenuForm {
    text-align: center;
    background-color: inherit;
    margin: 0;
    padding: 16px 32px;
    padding-bottom: 8px;
    border-radius: inherit;
} .optionMenuTitle {
    color: var(--white);
    font-size: 32px;
    font-family: var(--font2);
    font-weight: 500;
    padding: -16px;
    margin: 0;
    margin-top: -4px;
} .optionMenuDescription {
    color: var(--white);
    font-size: 12px;
    padding: -16px;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
} .optionMenuSearch {
    margin: 0;
    margin-top: 4px;
    background-color: var(--darkBlack);
    color: var(--white);
    border-radius: 5px;
    width: 256px;
} .optionMenuSearch::placeholder {
    color: var(--white);
} .optionMenuChoiceContainer {
    display: inline-block;
    margin: 0;
    padding: 0;
} .optionMenuChoice {
    display: inline-block;
    font-family: var(--font3);
    margin-top: 4px;
    padding: 0px;
    height: 32px;
    width: 256px;
} #subscribeToContainer {
    position: sticky;
    height: max-content;
    width: 380px;
    margin: 32px;
    padding: 8px;
    border-radius: 12px;
    grid-row: 1;
    grid-column: 4;
} #connectWalletContainer {
    position: fixed;
    height: max-content;
    width: 380px;
    right: 0;
    bottom: 50%;
    margin: 12px;
    padding: 8px;
    border-radius: 12px;
}

.socialPage {
    background-color: var(--darkBlack);
    color: var(--white);
    border-radius: 8px;
    margin: 8px;
    padding: 16px;
    padding-top: 8px;
} .socialWrap {
    margin: 16px;
    background: var(--color1);
    border-radius: 4px;
    width: calc(100% - 32px);
} .socialWrap:hover {
    background: var(--color2);
    cursor: pointer;
} .socialWrap2 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -20px;
} .socialWrap [name='socialWrapToggle'] {
    display: none;
} .socialTitle {
    color: var(--white);
    font-weight: 300;
    font-family: var(--font2);
    font-size: 28px;
    padding: 8px;
    margin: 8px;
    margin-bottom: 0;
} .socialDescriptor {
    color: var(--color2);
    margin-right: 4px;
    margin-bottom: 8px;
} a .socialDescriptor {
    color: var(--white);
}

#alertBox {
    display: none;
    position: fixed;
    background-color: var(--color1);
    max-height: fit-content;
    width: 100%;
    bottom: 0;
    left: 0;
} #alertMessage {
    font-size: 16px;
    margin-left: 32px;
    margin-right: 32px;
    color: var(--white);
} #alertExit {
    position: fixed;
    bottom: 36px;
    right: 16px;
    font-size: 16px;
    color: var(--white);
}

#toggleButtonContainer {
    position: fixed;
    bottom: 48px;
    right: 48px;
    font-size: 20px;
} .toggleButton {
    display: flex;
    position: fixed;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--color1);
    color: var(--white);
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
} .toggleButton:hover {
    background-color: var(--color2);
} #toggleHex {
    transform: translate(-44px, -44px);
} #toggleStats {
    transform: translate(0, -44px);
}

#menuContainer {
    position: sticky;
    height: max-content;
    width: 380px;
    background-color: var(--darkBlack);
    margin: 32px;
    padding: 8px;
    border-radius: 12px;
    grid-row: 1;
    grid-column: 3;
} #menuForm {
    text-align: center;
    background-color: inherit;
    margin: 0;
    padding: 16px 32px;
    border-radius: inherit;
} #menuForm #menuTitle {
    color: var(--white);
    font-size: 32px;
    font-family: var(--font2);
    font-weight: 500;
    padding: -16px;
    margin: 0;
    margin-top: -4px;
} #menuForm #menuDescription {
    color: var(--white);
    font-size: 12px;
    font-weight: 100;
    padding: -16px;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
} #menuForm [type="button"] {
    margin-top: 4px;
} #menuForm input {
    margin: 0;
    margin-top: 4px;
}

#statsContainer {
    position: sticky;
    height: max-content;
    width: 380px;
    background-color: var(--darkBlack);
    margin: 32px;
    padding: 8px;
    border-radius: 12px;
    grid-row: 1;
    grid-column: 2;
} #statsForm {
    text-align: left;
    background-color: inherit;
    margin: 0;
    padding: 16px 32px;
    border-radius: inherit;
} #statsForm #statsTitle {
    color: var(--white);
    font-size: 32px;
    font-family: var(--font2);
    font-weight: 500;
    padding: -16px;
    margin: 0;
} .statsZone p {
    display: inline-block;
    margin: 0;
    margin-top: 1px;
    margin-bottom: 4px;
    white-space: pre;
    user-select: text;
} .description {
    font-size: 12px;
} #statsForm .description {
    margin-top: -8px;
    margin-bottom: 8px;
} .statsDescriptor {
    color: var(--color2);
    font-weight: 550;
    padding-left: 28px;
} #statsForm [type="button"] {
    margin: 0px;
    margin-bottom: 4px;
    width: 100%;
} #statsform input {
    margin: 0;
    margin-top: 4px;
} #statsStake {
    text-align: right;
}

#hexContainer {
    position: sticky;
    height: max-content;
    width: 380px;
    background-color: var(--darkBlack);
    margin: 32px;
    padding: 8px;
    border-radius: 12px;
    grid-row: 1;
    grid-column: 1;
} #hexForm {
    text-align: center;
    margin: 0;
    padding: 16px 32px;
    border-radius: inherit;
} #hexForm input {
    margin-bottom: 4px;
} #hexFilterButton {
    width: 100%;
    margin: 0;
    margin-bottom: 8px;
} #hexDescriptor {
    color: var(--white);
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: -8px;
    font-size: 12px;
} .hexTable {
    width: 100%;
    border-collapse: collapse;
} .hexTable tr {
    text-align: left;
} .hexTable th {
    color: var(--color2);
    margin-top: 40px;
    padding: 4px;
} .hexTable td {
    color: var(--white);
    font-size: 12px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    overflow: hidden;
    user-select: text;
} .hexCenter {
    text-align: center;
} .hexRight {
    text-align: right;
}

.chart {
    display: block;
    left: 0px;
    top: 100px;
    margin: 0;
    margin-bottom: -8px;
    width: 16px;
    height: 16px;
    transform: translate(0, 10px);
} .circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--white);
    background: conic-gradient(var(--color1) 0 var(--deg), var(--white) var(--deg));
    overflow: hidden;
} .innerCircle {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    top: 8%;
    left: 8%;
    width: 84%;
    height: 84%;
    border-radius: 50%;
    background-color: var(--darkBlack);
} #stakePerSupply {
    --deg: 0deg;
} #stakePerTotal {
    --deg: 0deg;
} #unstakableUser {
    --deg: 0deg;
} #rewardsPerTotal {
    --deg: 0deg;
} #allowancePerBalance {
    --deg: 0deg;
} #connectionsPerMost {
    --deg: 0deg;
} #tokensEarnedPerMost {
    --deg: 0deg;
} #hasAffiliate {
    --deg: 0deg;
} #unlockablePercentChart {
    --deg: 0deg;
} #voteYayPerTotal {
    --deg: 0deg;
} #lockerContractCircle {
    --deg: 0deg;
} #lockerFunctionCircle {
    --deg: 0deg;
} #eventBlockCircle {
    --deg: 0deg;
}

#widgetGrid {
    position: relative;
    display: grid;
    justify-content: flex-start;
    overflow: visible;
    grid-template-columns: min-content, min-content, min-content, min-content;
} #homeGrid {
    position: relative;
    display: grid;
    grid-auto-columns: minmax(auto, auto);
    grid-auto-rows: minmax(auto, auto);
}